<%- include('./../layouts/header.ejs', {title:'Listado de usuarios'}) -%>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Modulo de NodeJS</h1>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row justify-content-between">
            <h4>Lista de usuarios</h4>
            <a href="/create" class="btn btn-sm btn-success">Crear</a>
          </div>
          <div class="row">
            <table class="table table-responsive table-hover text-center">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Pais</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% personas.forEach(persona => { %>
                <tr>
                  <td><%= persona.nombre %></td>
                  <td><%= persona.edad %></td>
                  <td><%= persona.pais %></td>
                  <td>
                    <a class="btn btn-primary" href="/show/<%= persona._id %>">Ver detalles</a>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster --> 
<%- include("./../layouts/footer.ejs") -%>