<%- include('./../layouts/header.ejs', {title:persona.nombre}) -%>
      <section class="jumbotron">
        <div class="container">
          <a href="/edit/<%= persona._id %> " class="btn btn-primary">Editar</a>
          <input type="hidden" class="form-control" id="id" value="<%= persona._id %>"/>
          <div class="col-md-12 py-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" value="<%= persona.nombre %>" readonly/>
          </div>
          <div class="col-md-12 py-4">
            <label for="edad" class="form-label">Edad</label>
            <input type="text" class="form-control" name="edad" id="edad" value="<%= persona.edad %> " readonly/>
          </div>
          <div class="col-md-12 py-4">
            <label for="pais" class="form-label">País</label>
            <input type="text" class="form-control" name="pais" id="pais" value="<%= persona.pais %> " readonly/>
          </div>
          <div class="row justify-content-between">
            <a href="javascript:history.back()" class="btn btn-secondary">Atrás</a>
            <button class="btn btn-danger btn-sm" name="eliminar" id="eliminar">Eliminar</button>
          </div>
        </div>
      </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      const $eliminar = document.getElementById("eliminar");

      eliminar.addEventListener("click", async (e) => {
        e.preventDefault();

        let id = document.getElementById("id").value;
        let nombre = document.getElementById("nombre").value;

        const data = await destroy(id);
        console.log(data);
        if (data.status == 200) {
          alert(nombre + " eliminado correctamente");
          window.location.href = "/";
        } else {
          alert(data.error[0].msg);
        }
      });

      const destroy = async (id) => {
        try {
          const request = await fetch("http://localhost:3000/" + id, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
          });
          const datos = await request.json();
          return datos;
        } catch (error) {
          return error;
        }
      };
    </script>
<%- include("./../layouts/footer.ejs") -%>